.courosel-parent {
    height: 100vh;
    width: 100%;
    background-color: #5f1986;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;

}

.gallery {
    height: 200px;
    width: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: gallery 20s linear infinite;

}

.gallery span {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    transition: all 1s;

}

.gallery span svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, rgba(0,0, 0, 0.165));
    transition: all 1s;

}

.gallery span svg:hover {
    cursor: pointer;
    transition: all 1s;
    transform: scale(1.2);
    opacity: 1;

}

.gallery:hover {
    animation-play-state: paused;

}

.gallery:hover svg {
    opacity: 0.2;
}


@keyframes gallery {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

@media (max-width: 750px){
    .courosel-parent {
        height: 100vh;
        background-color: #5f1986;
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .gallery {
        height: 150px;
        width: 150px;
        position: relative;
        transform-style: preserve-3d;
        animation: gallery 20s linear infinite;

    }
}