.project-intro .primary-button{
    background-color: floralwhite;
    color: black;
    border-color: darkmagenta;
    width: 50%;
    height: 40px;
}

.project-intro {
    margin-bottom: 50px;
}

.project-list {
    overflow: hidden;
}

.project {
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;

}

.project img {
    height: 100%;
    width: 100%;
    border-radius: 10px;

}

.project-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(0,0,0,0.79);
    padding: 20px;

    height: 100%;
    width: 100%;
    color: white;
    font-weight: 500;
    opacity: 0;
    transition: all 0.5s;
}

.project:hover > .project-content{
    opacity: 1;

    transform: scale(1.03);
    border: 4px solid black;
    border-radius: 10px;
}