/* Wave Container */

body {
    margin: 0;
}

.wave-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(60deg, rgba(95, 25, 134, 1) 0%, rgba(95, 25, 134, 1) 100%);
}

/* Upside-down Waves */
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /* Fix for safari gap */
    min-height: 100px;
    max-height: 150px;
    transform: rotate(180deg); /* Rotate the waves container upside down */
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(90px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}
