.blob-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling and animating the blob */
.blob {
    width: 70%;
    height: 90%;
    background-color: darkmagenta;
    border-radius: 60%;
    animation: wave 3s ease-in-out infinite;
    box-shadow:  5px 5px 10px #6f3770,
    -5px -5px 10px magenta;
}

@keyframes wave {
    0% {
        border-radius: 50% 60% 40% 60% / 50% 60% 60% 40%;
    }
    20% {
        border-radius: 55% 55% 60% 40% / 60% 50% 55% 45%;
    }
    40% {
        border-radius: 45% 55% 50% 50% / 55% 55% 50% 50%;
    }
    60% {
        border-radius: 60% 50% 55% 45% / 45% 65% 40% 60%;
    }
    80% {
        border-radius: 50% 70% 40% 50% / 50% 50% 60% 50%;
    }
    100% {
        border-radius: 50% 60% 40% 60% / 50% 60% 60% 40%;
    }
}

@media (max-width: 850px) {
    .blob {
        width: 90%;
        height: 80%;
    }

}